@using Microsoft.AspNetCore.Identity
@model ProjectManagementApplication.Models.Project
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<script type="text/javascript" src="~/js/createProject.js"></script>

<form asp-action="CreateTime" method="post" asp-route-projectId="@ViewBag.projectIdNew">
    <div class="container mx-auto mt-5">


        <h4 class="my-3">
            Step 2 von 4
        </h4>

        <div class="progress my-3">
            <div class="progress-bar" role="progressbar" style="width: 50%; background-color:#3f27ba" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
        </div>

        <div class="align-self-end d-flex my-2">
            <h4 class="my-auto me-3 text-nowrap">Project-State:</h4>
            <select id="" class="select form-control form-control-lg me-2" asp-for="tense" checked>
                <option value="active">Active</option>
                <option value="future">Future</option>
                <option value="past">Past</option>
            </select>
        </div>


    </div>

    <div class="d-flex justify-content-center mt-4 mx-auto">
        <button type="button"
                onclick="cancelCreate(@ViewBag.projectIdNew)"
                class="btn btn-lg h-100 mx-5 align-self-end"
                data-mdb-ripple-color="dark"
                style="background-color: #EFEDED">
            CANCEL
        </button>


        <button type="submit"
                class="btn btn-lg h-100 mx-5 align-self-end"
                data-mdb-ripple-color="dark"
                style="background-color: #EFE407">
            CONTINUE
        </button>

    </div>
</form>

<!--
                <div class="align-self-end d-flex my-2">
                <h4 class="my-auto me-3">Projektart:</h4>
                <select id="" class="select form-control form-control-lg me-2" asp-for="tense" checked>
                    <option value="active">Aktuell</option>
                    <option value="future">Zukünftig</option>
                    <option value="past">Vergangen</option>
                </select>
            </div>
-->
