@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4">Welcome User</h2>
    <h1>You found the Easteregg</h1>
    <h3>Michael Maier (AKA. MONOGWAM), Benedikt Renger (AKA. RENG-RENG), Michael Wajand (AKA. PAPA)</h3>
</div>