@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <h2>Beran du bist ein Fisch</h2>
    <h1>Neu Neu</h1>

    <a href="">building Web apps with ASP.NET Core</a>.</p>
</div>