
body{
    background-color:lightgrey;
}

.box {
    background-color: #EFE407;
    border: 5px solid black;
    border-radius: 3px 6px;
    width: 70%;
    margin:auto;
    margin-top: 20%;
}

.headline {
    display: inline-block;
    margin-left: 8%;
    margin-top: 2%;
    font-weight: bold;
}

.loginPic {
    margin-bottom: 20px;
    display: inline-block; 
    float:right;
    margin-right:10%;
    margin-top: 2%;
}


.btn.btn-secondary.btnLogIn{
    color:black;
    width: 90%;
    background-color:lightgrey;
    margin-left: 5%;
    font-size: 30px;
    font-weight:bold;
    border-radius: 12px;
}

.logLable {
    display: inline-block;
    width: 40%;
    font-weight: bold;
    font-size: 30px;
    margin-left: 10%;
}

.form-control.logInput{
    display: inline-block;
    width: 40%;
}



