
section {
    position: absolute;
    top: 0px;
    bottom: 0px;
    height: 100%;
    width: 100%;

    background: rgb(246,7,32);
    background: linear-gradient(90deg, rgba(246,7,32,1) 15%, rgba(255,237,0,1) 81%);
}
